*{
    font-family: Arial, Helvetica, sans-serif;
}


boody{
    background-color: rgb(190, 30, 65);
}

main{
    background-color: rgb(216, 1, 1);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.493);
}